{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.min.css' %}"/>
{% endblock %}

{% block content %}
<div style="align-items: center; text-align: center; margin-top: 40px;">
  <div>
    {% if object %}
      <h3>Edit {{ object.name }}</h3>
    {% else %}
      <h3>Add a Project</h3>
    {% endif %}
  </div>

  <form action="" method="post" style="align-items: center;">
    {% csrf_token %}
    <table class="table table-bordered" style="max-width: 40%; margin: 20px auto;">
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-success">Submit!</button>
  </form>
</div>
<h6 style="text-align: center;">End of Page</h6>

{% endblock %}