{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
{% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h3>Delete Project?</h3>
  {% comment %} <img src="" alt=""> {% endcomment %}
</div>
<h2>Are you sure you want to delete {{ object.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'projects_detail' project.id %}"
    class="btn"
  >
    Cancel
  </a>
  <button type="submit" class="btn btn-danger">Yes - Delete Project!</button>
</form>

{% endblock %}