{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
{% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/resource-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h3>All Project Resources</h3>
  {% comment %} <img src="{% static 'images/' %}" alt="" /> {% endcomment %}
</section>

<section class="" style="align-items: center; text-align: center;">
  {% for resource in resource_list %}
  <div class="" style="align-items: center; text-align: center;">
    <a href="{% url 'resources_detail' resource.id %}">
      <div class="">
        <h4>{{ resource.name }}</h4>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}