{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
{% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if object %}
    <h3>Edit {{object.name}}</h3>
  {% else %}
    <h3>Add a Resource</h3>
  {% endif %}
  {% comment %} <img src="{% static 'images/' %}" alt=""/> {% endcomment %}
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-success">Submit!</button>
</form>

{% endblock %}