{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.min.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h3>Delete Resource?</h3>
</div>
<h2>Are you sure you want to delete {{ object.name }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'resources_detail' resource.id %}" 
    class="btn"
  >
    Cancel
  </a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
<h6 style="text-align: center;">End of Page</h6>

{% endblock %}