{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.min.css' %}"/>
{% endblock %}

{% block content %}
<div class="text-center">
  {% if object %}
    <h3>Edit {{object.name}}</h3>
  {% else %}
    <h3>Add a Resource</h3>
  {% endif %}
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-success">Submit!</button>
</form>
<h6 style="text-align: center;">End of Page</h6>

{% endblock %}