{% extends 'base.html' %} 
{% load static %} 


{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.min.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/js/google-code-prettify/prettify.css' %}">
{% endblock %}

{% block content %}
  
<div class="" style="align-items: center; text-align: center;">
  <h4>{{ resource.name }}</h4>
  <h3>Resource URL: {{ resource.url }}</h3>
  {% comment %} <a href="{{ resource.url }}">Link for resource</a> {% endcomment %}
  {% comment %} Figure out how to open a link without having localhost:8000 at the front {% endcomment %}
</div>
<div style="align-items: center; text-align: center;">
  <a href="{% url 'resources_update' resource.id %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'resources_delete' resource.id %}" class="btn btn-danger">Delete</a>
</div>
<h6 style="text-align: center;">End of Page</h6>
{% endblock %}