{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
{% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Delete Resource?</h1>
  {% comment %} <img src="{% static 'images/' %}" alt=""/> {% endcomment %}
</div>
<h2>Are you sure you want to delete {{ object.name }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'resources_detail' resource.id %}" 
    class="btn"
  >
    Cancel
  </a>
  <button type="submit" class="btn btn-danger">Yes - Delete!</button>
</form>

{% endblock %}