{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.min.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header" style="max-width: 60%; margin: 20px auto;">
  <h3>All Project Resources</h3>
</section>

<section class="hero-unit" style="align-items: center; text-align: center; max-width: 60%; margin: 20px auto;">
  {% for resource in resource_list %}
  <div style="align-items: center; text-align: center;">
    <a href="{% url 'resources_detail' resource.id %}" class="btn btn-primary btn-large">{{ resource.name }}</a>
  </div>
  {% endfor %}
</section>
<h6 style="text-align: center;">End of Page</h6>

{% endblock %}