{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
{% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}

<div style="align-items: center; text-align: center;">
  <h3>About the Coding Cooler</h3>
  <h4>
    Finally a nice place to keep all those ideas and resources in a safe chilly icebox.
  </h4>
  <img 
  src="{% static 'images/transparent.png' %}" 
  alt="DOS rules"
  class="img-polaroid"
  style="max-width:50%;"
  />
</div>


{% endblock %}