{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/' %}"
  >
  <title>Coding Cooler</title>
  <link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
  {% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="{% url 'home' %}">
        Home
        {% comment %} <img 
          src="" 
          alt=""
        > {% endcomment %}
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated%}
          <li><a href="{% url 'projects_index' %}">All Projects</a></li>
          <li><a href="{% url 'projects_create' %}">Create a Project</a></li>
          <li><a href="{% url 'resources_index' %}">All Resources</a></li>
          <li><a href="{% url 'resources_create' %}">Add a Resource</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>