{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
{% comment %} <link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project-index.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">
  <h3>Project List</h3>
  {% comment %} add some stylish shit here, idk {% endcomment %}
</section>

<section class="card-container">
  {% for project in projects %}
    <div class="">
      <a href="{% url 'projects_detail' project.id %}">
        <div class="">
          <div class="">
            {% if project.wireframe.url %}
            {% comment %} show an the wireframe if there is one {% endcomment %}
              {% comment %} <img src="" alt="">
            {% else %}
              <img src="" alt=""> {% endcomment %}
            {% endif %}
          </div>
          <h4 class="text-center">Project Name: {{ project.name }}</h4>
          {% comment %} add an if else if to show if project has been updated {% endcomment %}
          <p class="text-left">Language: {{ project.programming_language }}</p>
          <p class="text-left">Description: {{ project.description }}</p>
          {% comment %} <p class="text-left">Complete: {{ project.complete }}</p> {% endcomment %}
        </div>
          {% endfor %}
      </a>
    </div>
</section>

{% endblock %}