{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '386dos/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static '386dos/css/bootstrap-responsive.min.css' %}"/>
{% endblock %}

{% block content %}

<section class="hero-unit" style="max-width: 40%; margin: 20px auto;">
  <h2>Project List</h2>
  {% comment %} add some stylish shit here, idk {% endcomment %}
  {% for project in projects %}
    <div class="hero-unit">
      <div class="">
        <p class="text-center">Project Name: {{ project.name }}</p>
        <p class="text-center">Language: {{ project.programming_language }}</p>
        <p class="text-center">Description: {{ project.description }}</p>
        <a href="{% url 'projects_detail' project.id %}" class="btn btn-primary btn-large">Details</a>
      </div>
    </div>
    {% endfor %}
  </section>
  <h6 style="text-align: center;">End of Page</h6>

{% endblock %}